<h1 id="page_title">Stuff I've written</h1>
<div id="article_wrapper" class="skinny_wrapper">
  <% @articles.each do |article| %>
    <div class="article">
      <p class="date"><%= article.updated_at.strftime("%d %B") %></p>
      <h2><a href="<%= article_path(article) %>"><%= article.title %></a></h2>
      <hr class="title-hr">
    </div>
  <% end %>
  <%= paginate @articles %>
</div>
