<h1 id="page_title">Say Meow</h1>
<div class="wrapper_padding skinny_wrapper">
  <label>Name</label>
  <input type="text" name="firstname"><br>

  <label>Email</label>
  <input type="email" name="email"><br>

  <label>Message</label>
  <textarea></textarea><br>

  <div id="button_div"><input type="submit" value="Send Message" class="button"></div>
</div>
