.col-1, .col-2, .col-3 {
  float: left;
}

.col-1 {
  padding: 0 5% 0 2.5%;
  width: 45%;
}

.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

.home_content {
  h2 {
    font-size: 1rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: .5em;
    a {
      text-decoration: none;
      color: $dark;
      &:hover {
	color: $highlight;
      }
    }
  }

  .date {
    font-size: .85em;
    margin-bottom: 2em;
    color: $light;
  }

  p {
    margin-bottom: .25em;
  }
}

.about {
  padding-left: 5%;
  a {
    color: $highlight;
    font-weight: 600;
    text-decoration: none;
  }
}
